span{
	font-size: 20px;
}
.ip{
	border: 1px 1px 1px 2px solid;
	outline: none;
	border-radius: 20px;
	width: 20em;
	height: 3em;
	margin-top: 3px;
}
::-webkit-input-placeholder {
  
  color: black;
  text-align: center;
  font-size: 5px;
}
::-webkit-input-value {
  
  color: black;
  text-align: center;
  font-size: 5px;
}